* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: lightgrey;
	display: flex;
	justify-content: center;
}

.text-container {
	width: 900px;
	background: white;
	height: 100vh;
	padding: 0 100px 0 100px;
}